{% extends "layout.html" %}

{% block content %}

    <!-- <span class="flag-icon flag-icon-gr"></span> -->
    <input type="text" name="placesearch"></input>
    <div id="mypanel"></div>
    <script>
    $('input[name=placesearch]') .keyup(_.debounce(search , 200));

    function search(){
        let searchstring = $('input[name=placesearch]').val();

        let text = '';
        if (searchstring.length>1)
        {
        
            $.getJSON('/api/searchplaces?string='+searchstring, function(data) {

                data.forEach(function(entry){
                    text += getLocationDiv(entry);
                });

                $("#mypanel").html(text);

            });
        }
        else
        {
            $("#mypanel").html(text);
        }

    }

    function getLocationDiv(entry) {
        let geonameid = entry[0];
        let asciiname = entry[1];
        let countrycode = entry[2];
        let country = entry[3];
        let fcode = entry[4];
        let fcodeDescription = entry[5];
        let fcodeExplanation = entry[6];
        let population = entry[7];
        let name = entry[8];

        if (name == '')
            name = asciiname;
        
        let text = `<div class="w3-container">`;

        text += `<p>${name}`;

        if (countrycode.length == 2)
        {
            text += `&nbsp;<span class="flag-icon flag-icon-${countrycode.toLowerCase()}"></span>`;
        }

        text += '</p>';

        text += `</div>`;

        return text;

    }

    </script>
{% endblock %}


